@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
}
* {
  font-family: 'Poppins', sans-serif;
}
.gradient-bg {
  background-image: url('../../assets/images//main-bg.webp');
  background-size: 86.125rem;
}

.app-navbar header {
  padding-left: 0;
  padding-right: 0;
}
